<%- include("partials/header") %>
<div class="container" style="padding-top: 20px;">
  <div class="row">
    <div class="col s4"></div>
    <div class="col s4 z-depth-5" style="background-size: cover; background-image: url('https://i.pinimg.com/originals/59/3f/a2/593fa20d2128f90ed60b29e268a4d082.jpg');">
      <div class="card" >
        <div class="card-image">
          <div class="col s12" style="height: 650px;">
            <h3>Welcome to Home page</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col s4"></div>
  </div>
</div>
<%- include("partials/footer") %>