<%- include("partials/header") %>
<div class="parallax-container">
  <div class="row">
    <div class="col s12">
        <h1>Welcome to the Homepage</h1>
    </div>
  </div>
</div>
<%- include("partials/footer") %>