<%- include("partials/header") %>
<div class="container"><br><br>
  <div class="row">
    <div class="col s12 m3 l3"></div>
    <div class="col s12 m3 l6">
      <div class="card">
        <div class="card-image grey darken-3">
          <img style="height: 80px;" src="https://lh3.googleusercontent.com/proxy/Zo3YHFdl72HdClnleLT9smhPTZoaC-BKN28WuxFWYKmWD6JA-iGqHfb3i73-XyBU4KnJOR7dyRRAKirp6dYBDX0iJSEGxvh2qRwLCKZP46CyW_NQw_pJDMTH" alt="">
          <span class="card-title white-text">
            <div class="col s12">
              <h4 class="center-align">THERMOSTATS</h4>
            </div>    
          </span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-action">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header grey darken-4 white-text">
                <div class="col s12">
                  <div class="left">
                    <span>DEVICE 1</span>
                    <span>44°</span>
                  </div>
                  <div class="switch right-align">
                    <label>
                      <input type="checkbox">
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="collapsible-body grey darken-3">
                <span></span>
              </div>
            </li>
            <li>
              <div class="collapsible-header grey darken-4 white-text">
                <div class="col s12">
                  <div class="left">
                    <span>DEVICE 2</span>
                    <span>35°</span>
                  </div>
                  <div class="switch right-align">
                    <label>
                      <input type="checkbox">
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="collapsible-body grey darken-3">
                <div class="left-align">
                  <a class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">add</i></a>
                  <a class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">subtract</i></a>
                </div>
                <div class="right-align">
                  <a class="waves-effect waves-light btn blue"><i class="material-icons left">ac_unit</i>COOL</a>
                  <a class="waves-effect waves-light btn red"><i class="material-icons left">whatshot</i>HEAT</a>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header grey darken-4 white-text">
                <div class="col s12">
                  <div class="left">
                    <span>DEVICE 3</span>
                    <span>33°</span>
                  </div>
                  <div class="switch right-align">
                    <label>
                      <input type="checkbox">
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="collapsible-body grey darken-3">
                <span></span>
              </div>
            </li>
            <li>
              <div class="collapsible-header grey darken-4 white-text">
                <div class="col s12">
                  <div class="left">
                    <span>DEVICE 4</span>
                    <span>38°</span>
                  </div>
                  <div class="switch right">
                    <label>
                      <input type="checkbox">
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="collapsible-body">
                <span></span>
              </div>
            </li>
            <li>
              <div class="collapsible-header grey darken-4 white-text">
                <div class="col s12">
                  <div class="left">
                    <span>DEVICE 5</span>
                    <span>40°</span>
                  </div>
                  <div class="switch right">
                    <label>
                      <input type="checkbox">
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="collapsible-body grey darken-3">
                <span></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m3 l3"></div>
  </div>
</div>
<%- include("partials/footer") %>